.update-submit, .add-submit {
  /*padding: 0;
  /*width: 60px;*/
  /*font-family: 'Julius Sans One', sans-serif;*/
  font-size: 15em;
}

.update-submit:hover, .add-submit:hover {
  color: rgb(256,41,123);
  cursor: pointer;
}

.update-input {
  width: 75%;
}

.content {
  font-size: 1.5em;
}

/*.quote {
  background-color: #f8f8f8;
  padding: 1vh 1vw;
}*/

blockquote {
  margin-top: -1em;
  background-color: #f8f8f8;
  border-left: 2px solid #efefef;
  padding: 1vh 1vw;
}

.single-excuse {
  padding: 2vh 0;
  border-bottom: 1px dotted #efefef;
}

.options-wrapper {
  display: flex;
  justify-content: flex-end;
}

.options-wrapper span {
  padding: 1vh .5vw;
}

#create-excuse label {
  width: 20%;
  display: inline-block;
  margin: 0;
  font-family: 'Julius Sans One', sans-serif;
}

#add-edit {
  margin: 0;
  text-align: right;
  font-family: 'Julius Sans One', sans-serif;
}

#add-edit h4 {
  margin: 0;
  font-size: 1.5em;
}

h4:hover {
  color: rgb(256,41,123);
  cursor: pointer;
}

.glyphicon:hover, .fa:hover {
  color: rgb(256,41,123);
  cursor: pointer;
}

.edit-delete {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}

.edit-delete form {
  width: 70%;
}

.edit-delete input[type="text"] {
  font-size: 1.2em;
  border: 1px solid lightgrey;
}

.edit-delete input[type='submit'] {
  background-color: black;
  color: white;
  text-transform: uppercase;
  border: 1px solid black;
  font-size: 1.2em;
}

.edit-delete input[type='submit']:hover {
  background-color: white;
  color: black;
  box-shadow: 2px 2px 4px rgba(0,0,0,.3);
  text-shadow: 1px 1px 2px rgba(0,0,0,.3);
}

.edit-delete input[type='submit']:active {
  background-color: lightgrey;
  color: black;
}

.cancel {
  font-family: 'Julius Sans One', sans-serif;
}

#occasionTag {
  font-family: 'Julius Sans One', sans-serif;
}
