.modal {
  width: 50%;
  margin: auto;
  background-color: rgba(255,255,255, .95);
  padding: 1em;
  border-radius: .2em;
  position: fixed;
  font-size: 1.5vw;
  box-shadow: 4px 4px 10px rgba(0,0,0,.3);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal fieldset {
  border: 1px solid black;
  margin-top: 1em;
}

.modal legend {
  padding: .2em;
}

.modal label {
  width: 40%;
  display: inline-block;
  margin: auto;
}

.modal input {
  width: 59%;
  display: inline-block;
  margin: 5px auto;
  font-size: 1.3vw;
  border: 1px solid grey;
}

.modal input[type='submit'] {
  display: block;
  background-color: black;
  color: white;
  text-transform: uppercase;
  border: 1px solid black;
}

.modal input[type='submit']:hover {
  background-color: white;
  color: black;
  box-shadow: 2px 2px 4px rgba(0,0,0,.3);
  text-shadow: 1px 1px 2px rgba(0,0,0,.3);
  cursor: pointer;
}

.modal input[type='submit']:active {
  background-color: lightgrey;
  color: black;
}

.modal .close-btn {
  font-size: 1.5em;
  padding: .25em .5em;
  position: absolute;
  top: 0;
  right: 0;
}

.modal .close-btn i:hover {
  color: darkgrey;
  cursor: pointer;
}

.modal .close-btn i:active {
  color: lightgrey;
}

.modal p {
  text-align: center;
}

.modal #delete-btn {
  border: 0;
  background-color: rgba(255,0,0,.5);
  color: white;
}

.modal #delete-btn:hover {
  background-color: rgba(255,0,0,1);
  cursor: pointer;
}

.modal #delete-btn:active {
  background-color: lightgrey;
}

.user-profile {
  padding: 1vh 1vw;
  border-top: 2px solid #efefef;
  border-bottom: 2px solid #efefef;
  font-size: 1.2em;
}

.user-profile h3 {
  font-size: 1.4em;
}

.user-profile ul {
  list-style: none;
}

.user-profile ul li {
  padding: 1vh 1vw;
  cursor: pointer;
}

.user-profile ul li i {
  vertical-align: middle;
}

.user-profile ul li span {
  padding-left: 1vw;

}

.user-profile ul li:hover {
  color: rgb(256,41,123);
  transition: .4s;
}

.user-profile .fa:hover {
  color: black;
  cursor: default;
}
