
@import url('http://fonts.googleapis.com/css?family=Bangers');

.top-ten{
  transform: rotate(2deg);
  margin:15px;
  padding:0 5px;
  float:right;
  background:#ddd;
  border:1px solid #222;
  box-shadow:3px 3px 0 #222;
}
