.occasions-list {
  padding: 2vh 1vw;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.occasion-tag {
  font-family: 'Julius Sans One', sans-serif;
  cursor: pointer;
  padding: 1vh 0 1vw 0;
  display: inline-block;
  font-size: 1.7em;
}

.occasion-tag:hover {
  transform: scale(1.2);
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  text-shadow: 2px 2px 4px #808080;
  background-color: white;
  box-shadow: 0px 0px 5px 5px white;
}
