/*FOR DEVELOPMENT ONLY*/

/** {
box-sizing: border-box;
border: 1px dotted black;
}*/

/*FOR DEVELOPMENT ONLY*/

@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-content: center;
  background-color: black;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

nav a {
  color: white;
  text-decoration: none;
  font-family: 'Julius Sans One', sans-serif;
}

nav a:hover {
  color: limegreen;
  text-decoration: none;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  padding: 10px;
  background-color: limegreen;
}

header h1 {
  width: 50%;
  text-align: center;
  font-family: 'Bangers', cursive;
  font-size: 60px;
  margin-top: 25px;
  position: sticky;
}

h2 {
  font-family: 'Julius Sans One', sans-serif;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
}

.header-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-img img{
  height: 150px;
  display: block;
}

.container {
  display: flex;
  flex-flow: row wrap;
}

.excuses {
  width: 60%;
}

.occasions {
  width: 39%;
  padding-left: 1%;
}

.occasion-tag {
  display: inline-block;
  font-family: 'Julius Sans One', sans-serif;
}

@media (max-width: 600px) {
  .excuses {
    width: 100%
  }

  .occasions {
    width: 100%;
  }

  header h1 {
    font-size: 40px;
  }
}
