<h2 class="occasion-tag">excuses</h2></br>

<!-- <button ng-click="excuseCtrl.showButtons()">NGCLICK</button> -->

<!-- ADD EDIT -->
<div id="add-edit">
  <h4 ng-if="userIsLoggedIn()" ng-click="excuseCtrl.showAddForm()"><i class="fa fa-plus-square" aria-hidden="true"></i> Add an Excuse</h4>
  <!-- <h6 ng-click="excuseCtrl.showEditForm()"><i class="fa fa-pencil" aria-hidden="true"></i> Edit an Excuse</h6> -->
</div>
<h6>{{excuseCtrl.alert}}</h6>
<!-- CREATE FORM -->
<div ng-if="excuseCtrl.addForm" id="create-excuse">
  <form ng-submit="excuseCtrl.createExcuse()">
    <label for="excuse">excuse: </label>
    <input type="text" ng-model="excuseCtrl.formData.content" placeholder="What's your excuse?"></br>
    <!-- <input type="text" ng-model="excuseCtrl.formData.count" placeholder="Number of times used?"> -->
    <label for="occasion">occasion: </label>
    <select ng-model="excuseCtrl.formData.occasion">
      <option ng-repeat="occasion in occasions"  value="{{occasion.title}}">{{occasion.title}}</option>
    </select>
    <input type="submit" class="add-submit" value="Add">
    <div ng-click="excuseCtrl.cancelAddForm()"><i class="fa fa-times" aria-hidden="true"><span class="cancel"> cancel</span></i></div>
  </form>
</div>

<ul ng-repeat="excuse in excuses | sorter : criteria : identifier">
    <!-- SHOW -->
    <li>
      <span id="excuseCount"><i class="fa fa-plus" aria-hidden="true" ng-click="excuseCtrl.increaseCount(excuse)"></i>{{excuse.excuse.count}}</span></br>{{excuse.excuse.content}}</br><span id="occasionTag">{{excuse.occasion.title}}</span></br>

      <!-- EDIT OPEN BUTTON -->
      <i ng-if="userIsLoggedIn(); excuse.excuse.editButton" ng-click="excuseCtrl.showEditForm(excuse)" class="fa fa-pencil" aria-hidden="true"></i>
      <!-- DELETE BUTTON -->
      <i  ng-if="userIsLoggedIn(); excuse.excuse.deleteButton" ng-click="excuseCtrl.deleteExcuse(excuse)" type="submit" class="fa fa-trash" aria-hidden="true"></i>

      <div ng-if="excuse.excuse.editForm" id="edit-delete">
        <!-- EDIT FORM -->
        <form ng-submit="excuseCtrl.updateExcuse(excuse.excuse)">
          <input type="text" ng-model="excuse.excuse.content" class="update-input">
          <input type="submit" value="Update" class="update-submit">
        </form>
        <!-- CANCEL CHANGES BUTTON -->
        <div ng-click="excuseCtrl.cancelEditForm(excuse)"><i class="fa fa-times" aria-hidden="true"><span class="cancel"> cancel</span></i></div>
      </li>
      </div>
</ul>
