<h2>excuses</h2></br>

<!-- <button ng-click="excuseCtrl.showButtons()">NGCLICK</button> -->

<!-- ADD EDIT -->
<div id="add-edit">
  <h4 ng-if="userIsLoggedIn()" ng-click="excuseCtrl.showAddForm()">Add an Excuse <i class="fa fa-plus-square" aria-hidden="true"></i></h4>
  <!-- <h6 ng-click="excuseCtrl.showEditForm()"><i class="fa fa-pencil" aria-hidden="true"></i> Edit an Excuse</h6> -->
</div>
<h6>{{excuseCtrl.alert}}</h6>
<!-- CREATE FORM -->
<div ng-if="excuseCtrl.addForm" id="create-excuse">
  <form ng-submit="excuseCtrl.createExcuse()">
    <label for="excuse">excuse: </label>
    <input type="text" ng-model="excuseCtrl.formData.content" placeholder="What's your excuse?"></br>
    <!-- <input type="text" ng-model="excuseCtrl.formData.count" placeholder="Number of times used?"> -->
    <label for="occasion">occasion: </label>
    <select ng-model="excuseCtrl.formData.occasion">
      <option ng-repeat="occasion in occasions"  value="{{occasion.title}}">{{occasion.title}}</option>
    </select>
    <input type="submit" class="add-submit" value="Add">
    <div ng-click="excuseCtrl.cancelAddForm()"><i class="fa fa-times" aria-hidden="true"><span class="cancel"> cancel</span></i></div>
  </form>
</div>

<ul ng-repeat="excuse in excuses | sorter : criteria : identifier">
    <!-- SHOW -->
    <li class="single-excuse">
      <div class='quote'><i class="fa fa-quote-left fa-2x" aria-hidden="true"></i>
      <blockquote class="content">{{excuse.excuse.content}}</blockquote></div>
      <div class="options-wrapper">
        <!-- EDIT OPEN BUTTON -->
        <span><i ng-if="userIsLoggedIn(); excuse.excuse.editButton" ng-click="excuseCtrl.showEditForm(excuse)" class="fa fa-pencil" aria-hidden="true"></i></span>
        <!-- DELETE BUTTON -->
        <span><i  ng-if="userIsLoggedIn(); excuse.excuse.deleteButton" ng-click="excuseCtrl.deleteExcuse(excuse)" type="submit" class="fa fa-trash" aria-hidden="true"></i></span>
        <span id="excuseCount"><i class="fa fa-thumbs-up" aria-hidden="true" ng-click="excuseCtrl.increaseCount(excuse)"></i>{{excuse.excuse.count}}</span>
        <span id="occasionTag">{{excuse.occasion.title}}</span>
      </div>

      <div ng-if="excuse.excuse.editForm" class="edit-delete">
        <!-- EDIT FORM -->
        <form ng-submit="excuseCtrl.updateExcuse(excuse.excuse)">
          <input type="text" ng-model="excuse.excuse.content" class="update-input">
          <input type="submit" value="update">
        </form>
        <!-- CANCEL CHANGES BUTTON -->
        <div ng-click="excuseCtrl.cancelEditForm(excuse)"><i class="fa fa-times" aria-hidden="true"><span class="cancel"> cancel</span></i></div>
      </li>
      </div>
</ul>
