  <ul ng-repeat="excuse in excuseCtrl.excuses | orderBy : 'occasion.title'">
      <li>{{excuse.excuse.content}} -- <span id="excuseCount">{{excuse.excuse.count}}</span> <span id="occasionTag">{{excuse.occasion.title}}</span><button ng-click="excuseCtrl.deleteExcuse(excuse.id)" type="submit">x</button></li>

      <!-- <form ng-submit="ctrl.createExcuse()">
        <input type="text" ng-model="excuseCtrl.formData.content" placeholder="name">
        <input type="hidden" ng-model="excuseCtrl.formData.count" placeholder="title">
        <input type="submit" value="SUBMIT">
      </form> -->

  </ul>
