<form ng-submit="loginCtrl.login(loginData)" class="modal" id="login-modal">
  <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>
  <fieldset>
    <legend>Log in</legend>
    <label for="username">username: </label>
    <input id="username" type="text" ng-model="loginData.username" placeholder="username" required>
    <label for="password">password: </label>
    <input id="password" type="password" ng-model="loginData.password" placeholder="password" required minlength="6">
    <input type="submit" class="submit">
  </fieldset>
  <p>{{loginData.message}}</p>
</form>
