<form ng-submit="loginCtrl.signUp(signUpData)" class="modal" id="sign-up-modal">
  <div class="close-btn">x</div>
  <fieldset>
    <legend>Create an account</legend>
    <label for="username">username: </label>
    <input type="text" ng-model="signUpData.username" placeholder="username">
    <label for="password">password: </label>
    <input type="password" ng-model="signUpData.password" placeholder="password">
    <label for="password">confirm password: </label>
    <input type="password" ng-model="signUpData.confirmPassword" placeholder="password">
    <input type="submit" class="submit">
  </fieldset>
  <p>{{signUpData.message}}</p>
</form>
