<form ng-submit="loginCtrl.signUp(signUpData)" class="modal" id="sign-up-modal">
  <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i>
</div>
  <fieldset>
    <legend>Create an account</legend>
    <label for="username">username: </label>
    <input type="text" ng-model="signUpData.username" placeholder="username" required>
    <label for="password">password: </label>
    <input type="password" ng-model="signUpData.password" placeholder="password" required minlength="6">
    <label for="password">confirm password: </label>
    <input type="password" ng-model="signUpData.confirmPassword" placeholder="password" required minlength="6">
    <input type="submit" class="submit">
  </fieldset>
  <p>{{loginCtrl.msg}}</p>
</form>
