<section class="user-profile">
  <h4>Hello {{userData.username}}! Would you like to ...</h4>
  <ul>
    <li ng-click="toggleSorter(userData.id, 'user');">
      <i class="fa fa-eye fa-2x" aria-hidden="true"></i>
      <a href="#">show your excuses</a>
    </li>
    <li ng-click="toggleSorter('all');">
      <i class="fa fa-eye fa-2x" aria-hidden="true"></i>
      <a href="#">show all excuses</a>
    </li>
    <li>
      <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
      <a href="#" id="edit-profile-link">edit your profile</a>
    </li>
  </ul>
</section>
